@model IBook.Models.Publisher

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Tạo mới nhà xuất bản</h2>

<form method="post" asp-action="Create">
    <div class="p-5 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="control-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Description" class="control-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="Description" class="form-control" />
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Lưu" />
            <a asp-action="Index" class="btn btn-success">Quay về</a>
        </div>
    </div>
</form>
