@model IBook.Models.ViewModel.ShoppingCartViewModel
@{
    ViewData["Title"] = "OrderBookConfirmed";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">Đơn hàng đã được gửi đến người bán</h2>
<div class="form-text">
    Đơn hàng của bạn đã được gửi đến chúng tôi. Bộ phận bán hàng sẽ liên hệ với bạn sớm nhất để xác nhận đơn hàng. Nấu bạn có bất kỳ câu hỏi nào vui lòng liên hệ chúng tôi qua menu liên hệ ở phí trên!
</div>
<br />

<partial name="~/Areas/Customer/Views/Shared/_OrderCustomerDetails.cshtml" model="Model.orderBook" />
<br />
<br />
<partial name="~/Areas/Customer/Views/Shared/_OrderBookDetails.cshtml" model="Model.books" />

<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-success">Trở về trang chủ</a>

