@model IBook.Models.ViewModel.ShoppingCartViewModel
@{
    ViewData["Title"] = "OrderBookConfirmed";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">The order has been sent to the seller</h2>
<div class="form-text">
    Your order has been sent to us. The sales department will contact you as soon as possible to confirm the order. If you have any questions, please contact us via the contact menu above!
</div>
<br />

<partial name="~/Areas/Customer/Views/Shared/_OrderCustomerDetails.cshtml" model="Model.orderBook" />
<br />
<br />
<partial name="~/Areas/Customer/Views/Shared/_OrderBookDetails.cshtml" model="Model.books" />

<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-success">Back to home page</a>

