@model int
<td style="width:150px">
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary" href="@Url.Action("Edit", new { id = Model })"><i class="fas fa-edit"></i></a>
        <a type="button" class="btn btn-success" href="@Url.Action("Details", new { id = Model })"><i class="far fa-list-alt"></i></a>
        <a type="button" class="btn btn-danger" href="@Url.Action("Delete", new { id = Model })"><i class="far fa-trash-alt"></i></a>
    </div>
</td>
